<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8'/>
  </head>
  <body>
    <p>
        <%= @user.username %>님, 안녕하세요!<br><br>
        마니또로부터 선물이 도착했습니다!!<br>
        어서 http://gonggongjaewon.com 에 접속해서 선물을 확인해보세요!<br><br>
        혹시라도 본 이메일을 받고 접속을 했는데 새로운 게시물이 없다면 아마 마니또가 게시글을 지워서 그런 것일테니 놀라지 마세요~<br>
        그리고 댓글에 대해서는 이메일이 전송되지 않으니, 수시로 확인해서 힌트/미션 관련 댓글을 놓치지 마세요~~<br><br>

        남은 힌트와 미션도 잘 수행해주신 것 잊지 마시고요! :) <br><br>

        =======================<br><br>

        힌트와 미션 다시 안내드립니다.<br><br>

        <힌트>
        <ul>
        <li>마니띠 첫인상 손글씨로 (욕설/바방 X)</li>
        <li>마니띠 얼굴 그려서 보내기</li>
        <li>(기존 지인 제외) 동아리원 그 누구도 모르는 나 (마니또)에 대한 신박한 사실 한 가지</li>
        <li>나의 애장품 사진 한 가지 공개하기</li>
        </ul>

        <미션><br>
        1~2주차 (택 2)
        <ul>
        <li>마니띠와 한 테이블에 앉아서 코딩하고 인증샷</li>
        <li>같이 밥 먹기 (엠티 포함 X, 코딩데이 전 단체 식사/안주  O)</li>
        <li>세미나에 지친 마니띠에게 2000원 이하의 맛있는 간식과 힘 나는 노래/글귀/그림 등이 담긴 쪽지 주기</li>
        <li>3000원 이하 주황/검정 선물</li>
        </ul>
        3~4주차 (택 2)
        <ul>
        <li>하이파이브/악수/약속/팔씨름</li>
        <li>5000원 이하의 세상에서 가장 쓸데없는 선물</li>
        <li>뒷풀이에 가서 마니띠랑 짠! (잔에 술이 담겨있을 필요는 없음)</li>
        <li>칭찬 3가지가 포함된 손편지 보내기</li>
        </ul>

        <br>서울대학교 멋쟁이 사자처럼 드림.<br>
    </p>

    </p>
  </body>
</html>