<div class="edit">
    <br>
    대강 정리해보는 FAQ (제가 받고 있는 질문들을 수시로 이 곳에 업데이트 하겠습니다! 언제든 편하게 질문 주세요~)<br><br>

    <ol>
    <li>힌트는 4개 다 하고 미션은 2주에 2개씩만 하면 되는 건가요?</li>
    - 네 그렇습니다!<br><br>

    <li>마니띠에게 공개하기 버튼을 체크하지 않고 포스팅을 하면 이메일 알림이 안 보내지나요?</li>
    - 네, 공개를 하셔야만 이메일이 보내집니다.<br><br>

    <li>그러면 힌트 4가지에 대한 포스팅만 공개하고 나머지 미션은 공개 안해도 되겠네요?</li>
    - 네, 그런데 이를테면 선물을 어디에 숨겨놨는데 그거 찾아가세요~ 할 때 공개를 하면 좋겠죠?<br><br>

    <li>보냈어요랑 제출했어요랑 어떻게 다른 거에요?</li>
    - 보냈어요 = 마니띠가 볼 수 있는 글, 제출했어요 = 저만 볼 수 있는 글 (마니띠는 X) 이에요!<br><br>

    <li>엇 그럼 공개안해도 상관없는거에요?</li>
    - 이를테면 마니띠랑 둘이 코딩을 같이 하고 인증샷을 찍었는데 그걸 공개해버리시면 마니띠가 마니또가 누군지 알 수 있게 되잖아요, 그런데 미션 인증을 해야되기는 하니까 그런 경우 저한테만 공개하시는거죠!<br><br>

    <li>이거 이미 비공개로 올려버린 건 공개로 전환할 수 없는거죠? 지우고 새로 써야겠죠?</li>
    - 넹 ㅠㅠ 꼭 지우시지는 않아도 되지만 공개하는 글을 새로 작성하셔야할 것 같아요<br><br>
    </ol><br>

    다음과 같은 오류들이 수정되었습니다. 오류가 있을 경우 언제든지 알려주세요!<br><br>
    <ul>
    <li>1MB 이상의 사진이 업로드되지 않은 문제 --> 100MB로 변경 (2019.03.18 13:04)</li>
    <li>힌트 네 개 모두 힌트1로 저장되는 문제 --> 해결 완료 (2019.03.18 13:02)</li>
    <li>로그아웃 시 에러가 나는 문제 --> 해결 완료 (2019.03.19 02:12)</li>
    <li>"욕설/바방"이라고 이메일이 전송되는 문제 --> 수정 완료 (2019.03.19 02:12)</li>
    </ul>
    <br><br>
</div>