<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><a href='/' style="text-decoration:none; color: white;">Snulion Manito</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <% if user_signed_in? %>
        <nav class="mdl-navigation">
          <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
            <a href="/users/edit" style="text-decoration: none; color: white;"><i class="material-icons">account_circle</i></a>
          </button>
          <a href="/users/edit" style="margin-left: 10px; text-decoration: none; color: white;"><%= current_user.username %></a>&nbsp;님
          <a href="users/sign_out" data-method="delete" style="margin-left: 10px; text-decoration: none; color: white;">로그아웃</a>
        </nav>
      <% else %>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/users/sign_in">로그인</a>
        </nav>
      <% end %>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">받았어요</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">보냈어요</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">제출했어요</a>
    </div> 
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
          <div class="page-content">
            <%= render 'posts/received' %>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
          <div class="page-content">
            <%= render 'posts/sent' %>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
          <div class="page-content">
            <%= render 'posts/submitted' %>
          </div>
        </section>
      </main>
    </div>
  </main>
<br><br><br>
</div>

<script>
  if (window.location.href.indexOf('reload')==-1) {
      window.location.replace(window.location.href+'?reload');
  }
</script>