/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

h3 {
    font-size: 20px;
    padding: 0px;
    margin-left: 20px;
}
.error-message {
    #error_explanation {
        h2 {
            display: none;
        }
    }
    ul {
        font-size: 16px;
        color: #ff4081;
    }
}
.edit {
    margin: 20px 60px 20px 60px;
}
.tabs {
    margin: 25px 0 5px 80px;
    font-size: 16px;
    a {
        text-decoration: none;
    }
    a:active {
        background-color: #ffffff;
    }
}
.name {
    margin: 0 10px 0 10px;
}
a:active {
    background-color: #ff4081;
}
h1 {
    font-size: 35px;
}
p {
    font-size: 18px;
    margin: 0px;
}
textarea {
    resize: none;
    border: none;
    background-color: white;
    margin-top: 10px;
}
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 25%;
}
.full-width {
  width: 100%;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.mdl-grid--no-spacing > form {
  margin-left: 15px;
}
.mdl-textfield + button {
  margin-left: 10px;
}
.my-card {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}
.create-post {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.mdl-card__supporting-text {
    font-size: 15px;
    padding-right: 5px;
    white-space: pre-line;
}
.mdl-list__item-text-body {
    font-size: 12px;
    white-space: pre-line;
}
.new-post {
    margin-top: 30px;
    margin-left: 60px;
}
.new-title {
    width: 240px;
    font-size: 14px;
    border: none;
    background-color: white;
    margin-top: 10px;
}
.mdl-textfield textarea.mdl-textfield__input{
    overflow: hidden;
    border: none;
    resize: none;
    display: inline-block;
}
.comment-label {
    font-size: 12px;
}
.mdl-button--fab.mdl-button--colored {
    z-index: 10000;
}
.targetDiv {
    display: none;
}

#top-btn {
    display: none;
    // display: block;
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 99;
    font-size: 23px;
    border: none;
    outline: none;
    background-color: #a3a19f;
    opacity: 0.8;
    color: white;
    padding: 5px 16px;
    border-radius: 10px;
    cursor: pointer;
}

#top-btn:hover {
    background-color: #ff3f81;
}

.scrollLink {
    line-height: 2;
}

.mobile-only {
    display: none;
}

.mdl-layout__tab-bar {
    width: 90%;
    padding: 0;
    margin: auto;
}

.mdl-layout__header-row {
    padding: 0 3.5% 0 4.5%;
}

@media only screen and (max-device-width: 500px) {
    .scrollLink {
        font-size: 30px;
    }

    #top-btn {
        font-size: 50px;
        padding: 8px 25px;
    }

    .showSingle {
        font-size: 23px;
    }

    .edit {
        font-size: 23px;
    }

    .mobile-only {
        display: block;
    }
}